<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="col-lg-8">
        <div class="input-group">
            <span id="pub1" class="input-group-addon">
                报社一
            </span>
            <input v-model="user.name" type="text" class="form-control" id="text1">
        </div>
    </div>
    <div class="col-lg-8">
        <div class="input-group">
            <span id="pub2" class="input-group-addon">
                报社二
            </span>
            <input v-model="user.name" type="text" class="form-control" id="text2">
        </div>
    </div>
    <div class="col-lg-8">
        <div class="input-group">
            <span id="pub3" class="input-group-addon">
                报社三
            </span>
            <input v-model="user.name" type="text" class="form-control" id="text3">
        </div>
    </div>

    <div class="col-lg-8">
        订阅者一
        <textarea id="sub1" class="form-control" rows="5"></textarea>
        订阅者二:
        <textarea id="sub2" class="form-control" rows="5"></textarea>
    </div>
</body>

</html>
<script  src="./观察者模式.js"></script>