@import "~@/assets/scss/_p2v.scss";

.page-index {
    .part {
        padding: 0 p2v(32);
        border-bottom: p2v(6) solid #f4f4f4;

        &:nth-last-of-type(1) {
            border-bottom: none;
        }
    }

    .search-box {
        display: flex;
        align-items: center;
        padding: p2v(20) p2v(32);
        box-sizing: content-box;
        height: p2v(100);


        .goback {
            width: p2v(60);
            height: p2v(100);
            background-image: url('~@/assets/images/page-search/arrow-left.svg');
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: left center;
        }

        .search-input {
            flex: 1;
            overflow: hidden;
            position: relative;

            >input {
                height: p2v(84);
                line-height: p2v(84);
                border: p2v(2) solid #1b6cd5;
                border-radius: p2v(42);
                padding: 0 p2v(56) 0 p2v(100);
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: p2v(100);
                height: 100%;
                background-image: url('~@/assets/images/page-search/search.svg');
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: center;
            }
        }

        .search-btn {
            width: p2v(100);
            height: p2v(100);
            line-height: p2v(100);
            text-align: center;
            font-size: p2v(32);
            color: #1b6cd5;
        }
    }

    .history-box,
    .hot-search-box {
        padding-bottom: p2v(32);

        .box-title {
            display: flex;
            justify-content: space-between;
            line-height: p2v(80);
            font-size: p2v(32);
            font-weight: bold;
        }

        .icon-del {
            width: p2v(80);
            height: p2v(80);
            background-image: url('~@/assets/images/page-search/del.svg');
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
        }

        .icon-hot {
            display: inline-block;
            width: p2v(40);
            height: p2v(40);
            background-image: url('~@/assets/images/page-search/hot.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            vertical-align: middle;
            margin-top: p2v(-10);
        }
    }

    .history-box {
        ul {
            font-size: 0;

            li {
                display: inline-block;
                line-height: p2v(70);
                padding: 0 p2v(20);
                background-color: #f4f4f4;
                font-size: p2v(28);
                margin-right: p2v(20);
                margin-bottom: p2v(10);
            }
        }
    }

    .hot-search-box {
        >ul {
            li {
                width: 50%;
                line-height: p2v(80);
                padding: 0 p2v(100) 0 0;
                position: relative;

                .hot-text {
                    position: absolute;
                    top: 50%;
                    right: p2v(40);
                    margin-top: p2v(-20);
                    width: p2v(40);
                    height: p2v(40);
                    line-height: p2v(40);
                    text-align: center;
                    color: #fff;
                    background-color: #f62d39;
                    font-size: p2v(24);
                }
            }
        }
    }

}