@function p2r($size) {
    //设计稿为1920 * 1080 ，开发时候将设计稿分为10份方便计算，所以得到 1rem = 1920 / 10 
    @return $size / 192 * 1rem;
}
html,body{
    padding: 0;
    margin: 0;
}
.box{
    width: p2r(1920);
    height: p2r(1080);
    background-color: #0094ff;
}