*{
    box-sizing: border-box;
}
.height-limit {
    height: 100px;
}
.show-block{
    display: block;
}
.show-none{
    display: none;
}

.box1 {
    overflow: hidden;

    .box2 {
        width: 100%;
        padding-right: 100px;
        overflow: hidden;

        ul {
            margin: 0;
            li {
                display: inline-block;

                a {
                    margin-right: 30px;
                    display: block;
                    min-width: 40px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    font-size: 18px;
                    color: #333;
                }

                a.active,
                a:hover,
                a:active,
                a:visited {
                    font-weight: bolder;
                    color: #000;
                    border-bottom: 4px solid #f5423b;
                }
            }
        }
    }
}